<!doctype html>
<html lang="ru"> 
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>    
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40218388?query=java%20Rostov-on-Don">Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Distillery</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38763244?query=java%20Rostov-on-Don">Java-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО АйТи Консалт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40836360?query=java%20Rostov-on-Don">SalesForce junior developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">DBI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40610356?query=java%20Rostov-on-Don">Java-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Электронная медицина</td> 
     <td class="salary">70 000-200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40680240?query=java%20Rostov-on-Don">Team lead Android</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ЗАЗЕКС</td> 
     <td class="salary">120 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40532501?query=java%20Rostov-on-Don">Software Web Developer Intern</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/41031302?query=java%20Rostov-on-Don">Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/41001708?query=java%20Rostov-on-Don">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ОТР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38493672?query=java%20Rostov-on-Don">Android-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ЗАЗЕКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40120309?query=java%20Rostov-on-Don">SalesForce разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">DBI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40259051?query=java%20Rostov-on-Don">Разработчик Java</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Тинькофф</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39861017?query=java%20Rostov-on-Don">Java-разработчик (Streaming ETL)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Тинькофф</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40966026?query=java%20Rostov-on-Don">QA Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Hotger</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40763755?query=java%20Rostov-on-Don">Разработчик мобильных игр/приложений Android и iOS</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Lafa games</td> 
     <td class="salary">100 000-1 000 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39588627?query=java%20Rostov-on-Don">Android Developer (remote)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">СберЗдоровье</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40632806?query=java%20Rostov-on-Don">Junior web developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">DBI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39247235?query=java%20Rostov-on-Don">Ведущий разработчик Java</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Кадровый Резерв</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39248649?query=java%20Rostov-on-Don">Backend разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Киноплан</td> 
     <td class="salary">от 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/41046694?query=java%20Rostov-on-Don">ETL/BI junior разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">DBI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/41001504?query=java%20Rostov-on-Don">Go Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39409016?query=java%20Rostov-on-Don">Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38967129?query=java%20Rostov-on-Don">Android разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">БЕТСИТИ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40976157?query=java%20Rostov-on-Don">Middle Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Центр-инвест, коммерческий банк</td> 
     <td class="salary">60 000-130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40981790?query=java%20Rostov-on-Don">Middle/Senior Java-Web Developer (Product)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39600698?query=java%20Rostov-on-Don">Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/30130462?query=java%20Rostov-on-Don">Frontend разработчик (VanillaJS) Team Chart</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40601241?query=java%20Rostov-on-Don">Backend разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Транспортные Технологии</td> 
     <td class="salary">100 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38966793?query=java%20Rostov-on-Don">Android - разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Интеллектика</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40259170?query=java%20Rostov-on-Don">Разработчик Java (Нефинансовые сервисы)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Тинькофф</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40647929?query=java%20Rostov-on-Don">Hyperion Junior Consultant</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">DBI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/34164767?query=java%20Rostov-on-Don">DevOps Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39975202?query=java%20Rostov-on-Don">Разработчик ETL</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Банк Хоум Кредит</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39891957?query=java%20Rostov-on-Don">QA Automation Analyst</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39413337?query=java%20Rostov-on-Don">Dev-Ops Инженер</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Accenture</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39971918?query=java%20Rostov-on-Don">Middle Backend Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Группа компаний ФЛЭШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/37431818?query=java%20Rostov-on-Don">Developer iOS (Разработка решения Service Desk)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/41025370?query=java%20Rostov-on-Don">DevOps инженер</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ЗАЗЕКС</td> 
     <td class="salary">30 000-70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/41036256?query=java%20Rostov-on-Don">DBA - инженер</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">21 Век, группа компаний</td> 
     <td class="salary">60 000-100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40333678?query=java%20Rostov-on-Don">Системный инженер / DevOps Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39990019?query=java%20Rostov-on-Don">SRE (Self-Service Data Preparation)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Тинькофф</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40513915?query=java%20Rostov-on-Don">Руководитель отдела разработки (разработка приложений и сайтов для IOS и Android)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Вкуснолюбов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40968217?query=java%20Rostov-on-Don">Разработчик iOS/Android</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ИП Чернов Эдуард Алексеевич</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38957930?query=java%20Rostov-on-Don">Программист-автоматизатор</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39825062?query=java%20Rostov-on-Don">Middle Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">FIRECODE</td> 
     <td class="salary">от 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/35881242?query=java%20Rostov-on-Don">Java developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Accenture</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/36755188?query=java%20Rostov-on-Don">Java Developer (dxFeed)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/35815967?query=java%20Rostov-on-Don">Senior Java Developer (dxFeed Scanner)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/33413535?query=java%20Rostov-on-Don">Java Developer (Backend)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38985488?query=java%20Rostov-on-Don">Big Data Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Accenture</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/33652032?query=java%20Rostov-on-Don">Middle/Senior Java-Web Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40953360?query=java%20Rostov-on-Don">Разработчик Terrasoft Creatio (направление IT)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Tele2</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40897126?query=java%20Rostov-on-Don">Middle/Senior Java Developer (Order &amp; Risk Management)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40531858?query=java%20Rostov-on-Don">Android разработчик (удаленно)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Carprice</td> 
     <td class="salary">150 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40787596?query=java%20Rostov-on-Don">QA Engineer (Backend/Integrations)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38786715?query=java%20Rostov-on-Don">Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/36905903?query=java%20Rostov-on-Don">IOS Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/36864777?query=java%20Rostov-on-Don">Support Engineer (Level 3)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40568427?query=java%20Rostov-on-Don">Senior Java developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО БрэндМэйкер.ру</td> 
     <td class="salary">от 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40917347?query=java%20Rostov-on-Don">Инженер-электроник 1 категории</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ЭФКО, Управляющая компания</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40735560?query=java%20Rostov-on-Don">Middle Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Корона Авто</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40614262?query=java%20Rostov-on-Don">Lead Java developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">IT_Selection</td> 
     <td class="salary">180 000-260 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40276726?query=java%20Rostov-on-Don">Разработчик Delphi (Middle)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Холдинг «Аэропорты Регионов»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38752627?query=java%20Rostov-on-Don">Java-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">АО Гринатом</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834270?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834262?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834263?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Саранск</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834264?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834265?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834266?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834267?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834268?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40834269?query=java%20Rostov-on-Don">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40499248?query=java%20Rostov-on-Don">Аналитик-разработчик (SQL, Python)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Деловые Линии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38543105?query=java%20Rostov-on-Don">Специалист по нагрузочному тестированию</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">АО Гринатом</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40256889?query=java%20Rostov-on-Don">Fullstack Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Корона Авто</td> 
     <td class="salary">от 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40846477?query=java%20Rostov-on-Don">Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Distillery</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40836599?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40818660?query=java%20Rostov-on-Don">Android-разработчик уровня junior/pre-middle</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Roonyx</td> 
     <td class="salary">35 000-45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39532752?query=java%20Rostov-on-Don">Программист по направлению голосового управления</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39532753?query=java%20Rostov-on-Don">Программист по направлению голосового управления</a></td> 
     <td class="city">Саранск</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39532754?query=java%20Rostov-on-Don">Программист по направлению голосового управления</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39532755?query=java%20Rostov-on-Don">Программист по направлению голосового управления</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39532756?query=java%20Rostov-on-Don">Программист по направлению голосового управления</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39532758?query=java%20Rostov-on-Don">Программист по направлению голосового управления</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40460330?query=java%20Rostov-on-Don">Системный архитектор</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Ситилаб, Научно-методический центр клинической лабораторной диагностики</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39833826?query=java%20Rostov-on-Don">Java разработчик (удаленно)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Cardsmobile (Приложение «Кошелёк»)</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40791870?query=java%20Rostov-on-Don">Разработчик Java</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39812279?query=java%20Rostov-on-Don">Senior Node.js engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">uKit Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40208012?query=java%20Rostov-on-Don">Senior Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40772344?query=java%20Rostov-on-Don">Java-разработчик (Удаленно)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ОТР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40811138?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40811139?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Саранск</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40811140?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40811143?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40811144?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40780244?query=java%20Rostov-on-Don">Frontend разработчик (React/angular)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО ОТР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40791512?query=java%20Rostov-on-Don">DevOps engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40790445?query=java%20Rostov-on-Don">Системный аналитик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40552024?query=java%20Rostov-on-Don">Java Backend Developer (fintech, blockchain)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">до 3 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40736335?query=java%20Rostov-on-Don">Senior Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Бюджетные и Финансовые Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40292001?query=java%20Rostov-on-Don">QA Engineer (Manual + Auto)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Distillery</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40731166?query=java%20Rostov-on-Don">Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО GrowApp Solutions</td> 
     <td class="salary">60 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40738750?query=java%20Rostov-on-Don">Frontend - разработчик (JavaScript, react)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">SberTech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40729093?query=java%20Rostov-on-Don">Главный разработчик Java</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39647076?query=java%20Rostov-on-Don">Android-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Тинькофф</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40738746?query=java%20Rostov-on-Don">Тестировщик ПО (QA Automation Engineer)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40727404?query=java%20Rostov-on-Don">Разработчик PL/SQL</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40729923?query=java%20Rostov-on-Don">Разработчик SQL (Oracle PL/SQL)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40731239?query=java%20Rostov-on-Don">QA automation engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Аренадата Софтвер</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40729067?query=java%20Rostov-on-Don">Реверс инженер/Reverse Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ФГАНУ НИИ Спецвузавтоматика</td> 
     <td class="salary">51 000-86 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40689132?query=java%20Rostov-on-Don">Веб-разработчик (стажер)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ИП Морозов Михаил Владимирович</td> 
     <td class="salary">до 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40737126?query=java%20Rostov-on-Don">Системный администратор / DevOps</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Группа компаний ФЛЭШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40684004?query=java%20Rostov-on-Don">Java Web Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39656273?query=java%20Rostov-on-Don">Java developer (удаленная работа)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Solvo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40674665?query=java%20Rostov-on-Don">QA Automation (remote)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">IT_Selection</td> 
     <td class="salary">100 000-160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40415308?query=java%20Rostov-on-Don">C++ Mobile Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40657342?query=java%20Rostov-on-Don">WEB Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Красное &amp; Белое, розничная сеть</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40657042?query=java%20Rostov-on-Don">Разработчик WEB систем</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Красное &amp; Белое, розничная сеть</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40638506?query=java%20Rostov-on-Don">Senior Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">FIRECODE</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40133052?query=java%20Rostov-on-Don">Senior Java developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ЮТэйр, Авиакомпания</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40654709?query=java%20Rostov-on-Don">QA Automation Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Umbrella IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40654726?query=java%20Rostov-on-Don">QA Automation Engineer</a></td> 
     <td class="city">Таганрог</td> 
     <td class="companyName">ООО Umbrella IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40811142?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/37193706?query=java%20Rostov-on-Don">Backend Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40636519?query=java%20Rostov-on-Don">Backend Team Lead</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40811141?query=java%20Rostov-on-Don">Программист Windows/Linux</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40614061?query=java%20Rostov-on-Don">Data Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ЗАО Astra Alliance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40568676?query=java%20Rostov-on-Don">Frontend разработчик (react)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО БрэндМэйкер.ру</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40225609?query=java%20Rostov-on-Don">Analyst (System) Отдел развития интеграционной платформы</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">«РОСБАНК, Societe Generale Group», с опытом работы</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40569633?query=java%20Rostov-on-Don">QA Engineer/DevOps (Тестировщик ПО)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО БрэндМэйкер.ру</td> 
     <td class="salary">от 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40569181?query=java%20Rostov-on-Don">QA Automation Engineer (Тестировщик-автоматизатор)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО БрэндМэйкер.ру</td> 
     <td class="salary">от 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40008840?query=java%20Rostov-on-Don">Java developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Рексофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40584057?query=java%20Rostov-on-Don">Senior Golang Engineer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38346955?query=java%20Rostov-on-Don">Инженер - программист Java</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">21 Век, группа компаний</td> 
     <td class="salary">35 000-60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40071007?query=java%20Rostov-on-Don">Azure Architect</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39949879?query=java%20Rostov-on-Don">Android Developer (Kotlin)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">FIRECODE</td> 
     <td class="salary">от 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40555733?query=java%20Rostov-on-Don">Разработчик SQL (Streaming ETL)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Тинькофф</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40506839?query=java%20Rostov-on-Don">Главный back-end разработчик (Java, Spring)</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбер для экспертов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/38763287?query=java%20Rostov-on-Don">Backend-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО АйТи Консалт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39379367?query=java%20Rostov-on-Don">Разработчик Java / Back-End Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40514829?query=java%20Rostov-on-Don">Android - Разработчик/программист Android</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">СимбирСофт,ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40493492?query=java%20Rostov-on-Don">PHP developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">АО Аркадия</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/40476471?query=java%20Rostov-on-Don">Специалист ИТ</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ООО Водно-Оздоровительный комплекс Горизонт</td> 
     <td class="salary">от 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/37938758?query=java%20Rostov-on-Don">Middle / Senior Android developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rostov.hh.ru/vacancy/39532757?query=java%20Rostov-on-Don">Программист по направлению голосового управления</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>